<!doctype html>
<html lang="en">

  <head>
   {% load static %}
    <title>AutoGo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="home">AutoGo</a>
              </div>
            </div>

            <div class="col-9  text-right">


              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="home" class="nav-link">Home</a></li>
                  <li><a href="services" class="nav-link">Services</a></li>
                  <li><a href="cars" class="nav-link">Cars</a></li>
                  <li><a href="about" class="nav-link">About</a></li>
                  <li><a href="blog" class="nav-link">Blog</a></li>
                  <li><a href="contact" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>


          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('/static/images/hero_1.jpg')">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-lg-5">
              <div class="feature-car-rent-box-1">
                <h3>{{ car.marque }}</h3>
                <ul class="list-unstyled">
                  <li>
                    <span>Doors</span>
                    <span class="spec">{{ car.doors }}</span>
                  </li>
                  <li>
                    <span>Seats</span>
                    <span class="spec">{{ car.seats }}</span>
                  </li>
                  <li>
                    <span>Color</span>
                    <span class="spec">{{ car.color }}</span>
                  </li>
                  <li>
                    <span>Type</span>
                    <span class="spec">{{ car.type }}</span>
                  </li>
                  <li>
                    <span>Modele</span>
                    <span class="spec">{{ car.modele }}</span>
                  </li>
                </ul>
                <div class="d-flex align-items-center bg-light p-3">

                  <a href="{% url 'reserver_car' car.id %}" class="ml-auto btn btn-primary">Rent Now</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">

            {% for c in cars %}
          <div class="col-lg-4 col-md-6 mb-4">

              <div class="item-1">
                <a href="#"><img src="{{ c.image.url }}" alt="Image" class="img-fluid" style="height: 300px !important;"></a>
                <div class="item-1-contents">
                  <div class="text-center">
                  <h3><a href="#">{{ c.marque }}</a></h3>
                  <div class="rating">
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                  </div>
                  </div>
                  <ul class="specs">
                    <li>
                      <span>Doors</span>
                      <span class="spec">{{ c.doors }}</span>
                    </li>
                    <li>
                      <span>Seats</span>
                      <span class="spec">{{ c.seats }}</span>
                    </li>
                    <li>
                      <span>Type</span>
                      <span class="spec">{{ c.type }}</span>
                    </li>
                    <li>
                      <span>Modele</span>
                      <span class="spec">{{ c.modele }}</span>
                    </li>
                  </ul>
                  <div class="d-flex action">
                    <a href="{% url 'reserver_car' c.id %}" class="btn btn-primary">Rent Now</a>
                  </div>
                </div>
              </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="site-section section-3" style="background-image: url('/static/images/hero_2.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-white">Nos services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-car-1"></span>
              </span>
              <div class="service-1-contents">
                <h3>Repair</h3>
                <p>Nous offrons un service de réparation rapide et efficace pour tous nos véhicules de location, assurant une expérience de conduite sans soucis.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-traffic"></span>
              </span>
              <div class="service-1-contents">
                <h3>Car Accessories</h3>
                <p>Nous proposons une gamme d'accessoires de voiture pour améliorer votre expérience de conduite, tels que des GPS, des sièges pour enfants et des porte-bagages.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-valet"></span>
              </span>
              <div class="service-1-contents">
                <h3>Own a Car</h3>
                <p>Si vous cherchez à posséder une voiture, consultez notre inventaire de voitures d'occasion de haute qualité à des prix abordables.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container site-section mb-5">
      <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
          <h2>How it works</h2>
          <p>Notre processus d'acquisition de voitures d'occasion est facile et pratique. Choisissez l'heure et l'endroit, la voiture, fournissez les détails, passez à la caisse et c'est fait. Obtenez votre propre voiture aujourd'hui!</p>
        </div>
      </div>
      <div class="how-it-works d-flex">
        <div class="step">
          <span class="number"><span>01</span></span>
          <span class="caption">Time &amp; Place</span>
        </div>
        <div class="step">
          <span class="number"><span>02</span></span>
          <span class="caption">Car</span>
        </div>
        <div class="step">
          <span class="number"><span>03</span></span>
          <span class="caption">Details</span>
        </div>
        <div class="step">
          <span class="number"><span>04</span></span>
          <span class="caption">Checkout</span>
        </div>
        <div class="step">
          <span class="number"><span>05</span></span>
          <span class="caption">Done</span>
        </div>

      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-7 text-center mb-5">
            <h2>Customer Testimony</h2>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>"La location de voiture était facile et abordable. Le service client était excellent et la voiture était en parfait état."</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                <span>Mike Fisher</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>"J'ai loué une voiture chez eux et j'ai été ravi de la qualité du service client et de la voiture elle-même."</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <img src="/static/images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                <span>Jean Stanley</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>"La voiture que j'ai louée était en parfait état et le service clientèle était exceptionnel. Je recommande fortement!" - Client satisfait."</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <img src="/static/images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                <span>Katie Rose</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-white">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-7 text-center mb-5">
            <h2>Our Blog</h2>
            <p>Découvrez notre blog pour des astuces de voyage, des guides de conduite et des recommandations pour profiter au maximum de votre location de voiture.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single">
                <img src="/static/images/post_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">

                <h2><a href="single">Votre comfort est une priorité!</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single">
                <img src="/static/images/img_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">

                <h2><a href="single">La meilleure location de voiture au Maroc.</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single">
                <img src="/static/images/img_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">

                <h2><a href="single">Voiture Sport avec les meilleurs prix!</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">About Us</h2>
                <p>Notre blog est conçu pour vous aider à planifier votre voyage de location de voiture. Des conseils de voyage aux astuces de conduite, en passant par les destinations à visiter, notre blog a tout ce dont vous avez besoin pour une expérience de voyage inoubliable. </p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="about" target="_blank" >TEAM</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>