<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin/ Reservations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashborad</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="cars_dash">Voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="clients">Clients</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="reservations">Reservations</a>
        </li>
      </ul>
    </div>
      <span class="me-1">Hello, {{ request.user }}</span>
      <span><a href="{% url 'logout' %}" style="color: black; text-decoration-line: none"><b>/ Logout</b></a> </span>
  </div>
</nav>
</header>
<body class="mt-5">
<table id="bootstrapdatatable" class="table table-striped">
    <thead>
    <th>#</th>
    <th>date debut</th>
    <th>date fin</th>
    <th>prix</th>
    <th>facture_id</th>
    <th>voiture_id</th>
    <th>Actions</th>
    </thead>
    <tbody>
        {% for res in reservations  %}
            <tr>
            <td>{{ res.id }}</td>
            <td>{{ res.dateDebut }}</td>
            <td>{{ res.dateFin }}</td>
            <td>{{ res.prix }}</td>
            <td>{{ res.facture_id }}</td>
            <td>{{ res.voiture_id }}</td>
                <td><a class="btn btn-primary" href="{% url 'facture_pdf' res.id  %}">Details</a> <a class="btn btn-success" href="{% url 'update_reservation' res.id %}">Edit</a> <a class="btn btn-danger" href="{% url 'delete_client' res.id %}" onclick="return confirm('Are you sure you want to delete ?')">Delete</a> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
        <div class="pagination">
        {% for i in reservations.paginator.page_range %}
            {% if reservations.number == i %}
                <span class="btn btn-primary active">{{ i }}</span>
            {% else %}
            <a href="?page={{ i }}" class="btn btn-outline-primary">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>

</body>
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container align-center text-center">
    <span class="text-muted text-center">MADE BY TEAM - 2023.</span>
  </div>
</footer>
</html>